extends layout

block content
  div.wrapper
    div.newUser
      div Hey! Please Fill out!
      form(action="/users/new" method="POST")
        input(type="text" name="username" placeholder="username")
        input(type="text" name="first_name" placeholder="First Name")
        input(type="password" name="password" placeholder="password")
        input(type="password" name="confirm" placeholder="confirm password")
        input(type="text" name="extra" placeholder="other field")
        button(type="submit") Submit
